<div class="center jumbotron">
  <h1>Welcome to Blue Ribbons Review</h1>

  <p>Blue Ribbon Review Group is for members looking for free and discounted Amazon products in exchange for an honest review. All members must be at least 18 years old and have an aged Amazon account with 5 reviews minimum. Our focus is to provide the generous sellers with high quality reviews of their products.
  Sellers wanting to add their promotions can contact <a href= "mailto:BlueRibbonReview@gmail.com">Blue Ribbons Review</a><br>
  Thank you!</p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("br_logo.jpg", alt: "Blue Ribbons logo") %>
           