<div class="overlay">
  <h1>Welcome to Blue Ribbons Review</h1>
  <h2>Review products or have products reviewed</h2>
  </div>
<div class="text-center">
  <%= link_to "Get Started", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
